/Pokenmon-Api/bin/*
/Pokemon-Fun/obj/*
/Pokenmon-Api/obj/*
/.vs/Pokemon-Fun/v16/.suo
/Pokemon-Api/obj/*
/.vs/Pokemon-Fun/DesignTimeBuild/.dtbcache.v2
/Pokemon-Common/obj/*
/Pokemon-Data/obj/*
/Pokemon-Web/obj/*
